{% extends 'home/base.html' %}
{% load static %}
{% load home_extras %}

{% block about %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Sobre Nós</h2>
                <p>{{ sobre.frase_destaque }}</p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-6">
                    <h3>{{ sobre.titulo }}</h3>
                    <img src="{{ sobre.imagem_destaque.url }}" class="img-fluid rounded-4 mb-4" alt="">
                    <p>{{ sobre.descricao_curta|quebra_de_linha|safe }}</p>
                </div>
                <div class="col-lg-6">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                        <ul>
                            {% for item in sobre.destaque %}

                            <li><i class="bi bi-check-circle-fill"></i> {{ item }} </li>

                            {% endfor %}
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                        </p>

                        <div class="position-relative mt-4">
                            <img src="{% static 'home/assets/img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
{% endblock about %}