<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

    <li class="nav-item">
            <a href="{% url 'dashboard:dashboard' %}" class="nav-link {% if active_dashboard %}active{% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>


        <li class="nav-item {% if menu_open_orcamento %}menu-open{% endif %}">
            <a href="#" class="nav-link {% if menu_open_orcamento %}active{% endif %}">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Orçamentos
                    <i class="fas fa-angle-left right"></i>
                    <span class="badge badge-info right">6</span>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'orcamento:orcamentos' %}" class="nav-link {% if active_orcamento %}active{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Orçamentos</p>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item {% if menu_open_produto %}menu-open{% endif %}">
            <a href="#" class="nav-link {% if menu_open_produto %}active{% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Produtos
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'produtos:lista_fornecedor' %}" class="nav-link {% if active_fornecedores %}active{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Fornecedores</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'produtos:lista_categorias' %}" class="nav-link {% if active_produto_categoria %}active{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Categorias</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'produtos:lista_produto' %}" class="nav-link {% if active_produto %}active{% endif %}">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Produtos</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    Clientes
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="pages/charts/chartjs.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ChartJS</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/charts/flot.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Flot</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/charts/inline.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Inline</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/charts/uplot.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>uPlot</p>
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</nav>