<table id="books-table" class="table table-bordered">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Ação</th>

    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td>{{ item.nome }}</td>

            <td>

                <button type="button" class="update-categoria btn btn-sm btn-primary" data-form-url="{% url 'produtos:atualizar_categoria' item.pk %}">
                    <span class="fas fa-pencil-alt"></span>
                </button>
                <button type="button" class="delete-categoria btn btn-sm btn-danger" data-form-url="{% url 'produtos:delete_categoria' item.pk %}">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>