{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link href="{% static 'core/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'core/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="{% static 'core/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock css %}
{% block content %}
       <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Cadastro de Cliente</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Formulario<small>Cliente</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form class="" action="" method="post" novalidate>
                                        {% csrf_token %}
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">{{ form.validade.label }}</label>
                                            <div class="col-md-6 col-sm-6">
                                                {% render_field form.validade class='form-control date' type="date" name="validade"%}
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">{{ form.cliente.label }}<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6">
                                                {% render_field form.cliente class="form-control select2" type="text" %}
                                            </div>
                                        </div>

                                         <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">{{ form.status.label }}</label>
                                            <div class="col-md-6 col-sm-6">
                                                {% render_field form.status class="form-control select2" type="text"  %}
                                            </div>
                                        </div>
                                         <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">{{ form.descricao.label }}</label>
                                            <div class="col-md-6 col-sm-6">
                                                {% render_field form.descricao class="form-control " type="text"  %}
                                            </div>
                                        </div>

                                        <div class="ln_solid">
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <button type='submit' class="btn btn-primary">Salvar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}

{% block js %}
    {% include 'core/includes/base_js.html' %}
    <script src="{% static 'core/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'core/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- Ion.RangeSlider -->
    <script src="{% static 'core/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js' %}"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="{% static 'core/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
    <!-- jquery.inputmask -->
    <script src="{% static 'core/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>

    <script src="{% static 'core/vendors/validator/multifield.js' %}"></script>
    <script src="{% static 'core/vendors/validator/validator.js' %}"></script>

    <script src="{% static 'core/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'core/vendors/nprogress/nprogress.js' %}"></script>

    <script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>

<script  type="text/javascript">

   $(function () {
       $('.select2').select2()
   });

   $(function () {
                $('#myDatepicker').datetimepicker();
            });

    $('#myDatepicker2').datetimepicker({
        format: 'DD.MM.YYYY'
    });

    $('#myDatepicker3').datetimepicker({
        format: 'hh:mm A'
    });

    $('#myDatepicker4').datetimepicker({
        ignoreReadonly: true,
        allowInputToggle: true
    });

    $('#datetimepicker6').datetimepicker();

    $('#datetimepicker7').datetimepicker({
        useCurrent: false
    });

    $("#datetimepicker6").on("dp.change", function(e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
    });

    $("#datetimepicker7").on("dp.change", function(e) {
        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
    });
</script>



{% endblock js %}