{% extends 'core/base.html' %}
{% load orcamentos_extras %}

{% block content %}
     <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Orçamento #{{ object.codigo }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Orçamento</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-12">
                                    <h4>
                                        <i class="fas fa-globe"></i> {{ object.empresa.nome }}.
                                        <small class="float-right">Data: {{ object.created|date:"d M, Y" }}</small>
                                    </h4>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-4 invoice-col">
                                    Para
                                    <address>
                                        <strong>{{ object.cliente.nome }}</strong><br>
                                        <strong>CPF/CNPJ: </strong>{{ object.cliente.documento }}<br>

                                        <strong>Contato:</strong>
                                        {{ object.telefone|default:"---------------" }}

                                        <br>
                                        <strong>Email:</strong> {{ object.cliente.email|default:"---------------" }}<br>
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    Contato
                                    <address>
                                        <strong>Responsavel: Marcio Oliveira</strong><br>
                                        <strong>Telefones:</strong>(19) 99966-4769 | 99617-1383<br>
                                        <strong>Email:</strong>mod64bits@gmal.com
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 invoice-col">
                                    <b>Order #{{ object.codigo }}</b><br>
                                    <br>
                                    <b>Validade:</b> {{ object.validade|date:"d/m/Y" }}<br>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <div class="row">

                                <!-- /.col -->

                                <div class="col-md-12">
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fas fa-bullhorn"></i>
                                                Descrição do Orçamento
                                            </h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="callout callout-success">
                                                <p>{{ object.descricao }}</p>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- Table row -->
                            <div class="row">
                                <div class="card col-md-12">
                                    <div class="card-header border-transparent">
                                        <h3 class="card-title">Equipamentos</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body col-md-12">
                                        <div class="table-responsive">
                                            <table class="table m-0">
                                                <thead>
                                                <tr>
                                                    <th>Quant.</th>
                                                    <th>Produto</th>
                                                    <th>Subtotal</th>
                                                    <th>Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for produto in object.produto_orcamento.all %}
                                                    <tr>
                                                        <td>{{ produto.quantidade }}</td>
                                                        <td>{{ produto.produto.nome }}</td>
                                                        <td>{{ produto.preco }}</td>
                                                        <td>
                                                            {{ produto.total }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                </div>


                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <!-- accepted payments column -->
                                <div class="card col-md-6">
                                    <div class="card-header border-transparent">
                                        <h3 class="card-title">Mão de Obra</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body col-md-12">
                                        <div class="table-responsive">
                                            <table class="table m-0">
                                                <thead>
                                                <tr>
                                                    <th>Mão de Obra</th>
                                                    <th>Valor</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for item in object.mao_obra_orcamento.all %}
                                                    <tr>
                                                        <td>{{ item.mao_de_obra.descricao }}</td>
                                                        <td>{{ item.valor }}</td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-6">
                                    <p class="lead">Validade: {{ object.validade }}</p>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th style="width:50%">Total Produtos:</th>
                                                <td>{{ object.total_equipamentos|convert_real_br }}</td>
                                            </tr>
                                            <tr>
                                                <th>Total Mão de Oba</th>
                                                <td>{{ object.total_mao_de_obra|convert_real_br }}</td>
                                            </tr>
                                            <tr>
                                                <th>Total:</th>
                                                <td>{{ object.total|convert_real_br }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-12">
                                    <a href="{% url 'orcamento:imprimir_orcamento' object.id %}" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Imprimir</a>
                                    <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Imprimir
                                    </button>
                                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                                        <i class="fas fa-download"></i> Gerar PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.invoice -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock content %}