{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'core/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
{% endblock css %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Advanced Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Advanced Form</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Select2 (Bootstrap4 Theme)</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.media }}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <label>{{ form.cliente.label }}</label>
                                        {% render_field form.cliente class="form-control select2bs4" type="text" style="width: 100%;"%}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Date:</label>

                                        {#                                            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>#}
                                        {% render_field form.validade class="form-control date"  %}


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <label>{{ form.status.label }}</label>
                                        {% render_field form.status class="form-control select2bs4" type="text" style="width: 100%;"%}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <!-- textarea -->
                                    <div class="form-group">
                                        <label>{{ forms.descricao.label }}</label>

                                        {% render_field form.descricao class="form-control" rows="3" placeholder="Descrição ..."%}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Atualizar Cliente</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'core/plugins/jquery/jquery.min.js' %}"></script>
    {% include 'core/includes/base_js_sem_jquery.html' %}
    <script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>




    <script>
        $(function () {
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })

    </script>
{% endblock js %}