{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock css %}


{% block content %}
     <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Código</th>
                    <th>Status</th>
                    <th>Orçamento</th>
                    <th>Entrada</th>
                    <th>Total</th>
                    <th>Data</th>
                    <th>Validade</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for proposta in object_list %}
                    <tr>
                     <td><a href="{% url 'proposta:proposta_detalhe' proposta.id %}">{{ proposta.codigo }}</a></td>
                    <td>{{ proposta.finalizado }}</td>
                    <td>{{ proposta.orcamento }}</td>
                    <td>{{ proposta.valor_entrada }}</td>
                    <td>{{ proposta.total }}</td>
                    <td>{{ proposta.created }}</td>
                    <td>{{ proposta.validade }}</td>

                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                   <th>Código</th>
                    <th>Status</th>
                    <th>Orçamento</th>
                    <th>Entrada</th>
                    <th>Total</th>
                    <th>Data</th>
                    <th>Validade</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'core/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'core/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'core/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'core/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'core/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'core/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->

<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock js %}