{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'core/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
{% endblock css %}

{% block titulo_pagina %}Novo Orçamento{% endblock titulo_pagina %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>General Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Novo Orçamento</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-3">
                            <!-- Horizontal Form -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Novo Orçamento</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form class="form-horizontal" method="post">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                                                {% for error in form.non_field_errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% for field in form %}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    {% if field.widget_type == 'select' %}
                                                        {% render_field field.widget.attrs.readonly class="form-control select2bs4" placeholder=field.label %}
                                                    {% elif field.widget_type == 'checkbox'%}
                                                        <div class="icheck-danger d-inline">
                                                            {% render_field field  %}

                                                        </div>
                                                    {% else %}
                                                        {% render_field field class="form-control" placeholder=field.label %}
                                                    {% endif %}


                                                    <div class="{% if field.errors %} invalid{% endif %}">
                                                        {% for error in field.errors %}
                                                            <p class="help-block">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-info">Salvar</button>
                                    </div>
                                    <!-- /.card-footer -->
                                </form>

                            </div>
                            <!-- /.card -->

                        </div>
                        <div class="col-9">
                            <div class="card card-solid">
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="col-12  d-flex align-items-stretch flex-column">
                                            <div class="card bg-light d-flex flex-fill">
                                                <div class="card-body pt-1">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h2 class="lead"><b>{{ orcamento.cliente.nome }}</h2>

                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Endereço: ------</li>
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefone #: -----</li>
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope-open"></i></span> Email #: {{ orcamento.cliente.email }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="text-right">
                                                        <a href="#" class="btn btn-sm bg-teal">
                                                            <i class="fas fa-comments"></i>
                                                        </a>
                                                        <a href="{% url 'proposta:proposta_pdf' proposta_id %}" class="btn btn-sm btn-primary">
                                                            <i class="fas fa-user"></i> Gerar PDF
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

{% endblock content %}




{% block js %}
    <script src="{% static 'core/plugins/jquery/jquery.min.js' %}"></script>
    {% include 'core/includes/base_js_sem_jquery.html' %}

    <!-- You can alternatively load the minified version -->

    <script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>




    <script>
        $(function () {
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })

    </script>



{% endblock js %}