{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title">{{ cliente.nome|title }}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="">
        Nome:
        {{cliente.nome }}
    </div>
    <div class="">
        CPF/CNPJ:
        {{ cliente.documento }}
    </div>
    <div class="">
        Telefone:
        {{ cliente.telefone }}

    </div>
    <div class="">
        Data de Cadastro:
        {{ cliente.created }}
    </div>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>